################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Setup.Configuration/.vs
/Setup.Configuration/src/Setup.Configuration/Setup.Configuration.xproj.user
